$('#destinations').replaceWith(
  "<ul><div id=destinations><% @destinations.each do |destination|%>
    <%= j(render :partial => 'destinations/destination',
      :locals => { :destination => destination, :order => @order}) %>
    <% end %></div></ul>"
  );

