%li.activity{:id => ["activity", activity.id]}
  %h3= activity.name

  %p.destination
    In #{activity.destination.name}

  = image_tag activity.image_url

  = link_to "Remove", activity_url(activity), :method => :delete, :remote => true